*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    background-color: #FD6E0A;
    padding: 18px 35px;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}

/* Banner section design */

header{
    background-color: #FFF8F3;
    background: url('../images/developer.png'), url('../images/header_bg.png'),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo h2{
    font-size: 45px;
    font-weight: bolder;
    color: #000;
}
nav .logo h2 span{
    color: #FD6E0A;
}

.menu{
    display: flex;
    gap: 51px;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.menu li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 300;
}
.menu li button{
    background-color: #FD6E0A;
    padding: 18px 35px;
    font-size: 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}

/* banner section design */
#banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 32px 0 290px;
}
#banner .banner-content{
    max-width: 685px;
}
.banner-content h2{
    font-size: 45px;
    color: #474747;
    font-weight: 500;
    margin-bottom: 5px;
}
.banner-content h1{
    font-size: 85px;
    color: #000;
    font-weight: 900;
    margin-bottom: 20px;
}
.banner-content p{
    font-size: 18px;
    color: #757575;
    font-weight: 400;
    margin-bottom: 20px;
}
.banner-image img{
    max-width: 685px;
    vertical-align: middle;
}

.btns .con{
    background-color: #FFF8F3 !important;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    margin-left: 30px;
}

/* About Content section design */
#about{
    width: 71%;
    max-width: 1600px;
    margin: auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 135px 150px;
    margin-top: 100px;
}
#about .about-content h1{
    font-size: 45px;
    margin-bottom: 25px;
}
#about .about-content p{
    font-size: 18px;
    font-weight: 300;
    color: #757575;
    margin-bottom: 30px;
}
#about .about-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about-card p{
    font-size: 18px;
    font-weight: 300;
    color: #757575;
}
.about-card h3{
    font-size: 18px;
    font-weight: 700;
}